* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

img {
    display: block;
}

main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%); 
    text-align: center;
    color: #130c1a;
    text-shadow: 0 0 25px;
    padding: 15px 15px;
    max-width: 890px;
    
}

header {
    font-family: Rock Salt; 
}

#p1, #p2, #p3, #p4 {
    font-weight: bolder;
    text-decoration-line: underline;
}

#data {
    display: none;    
}

aside {
    display: none;
    position: fixed;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 20px;
    font-weight: bold; 
    list-style: none;
}

#newForm {
    display: none;
}
ul {
    list-style: none;
}