* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0 auto;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    height: 580px;
    justify-content: space-around;
    background-color: #434045;
}

img {
    display: block;
}

main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%); 
    text-align: center;
    color: #130c1a;
    text-shadow: 0 0 20px;
    padding: 15px 15px;
    max-width: 870px;
    margin: auto;
    
}

header {
    font-family: Rock Salt;
}

#p1, #p2, #p3, #p4 {
    font-weight: bolder;
    text-decoration-line: underline;
    font-size: larger;
}

#data {
    display: none;
    background-color: rgba(234, 217, 225, 0.5);
    border-radius: 20px;   
}

aside {
    display: none;
    position: fixed;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 20px;
    font-weight: bold;
    background-color: rgba(234, 217, 225, 0.2);
    border-radius: 20px;
}
#word {
   font-size: large;

}

ul {
    list-style: none;
    padding: 10px 10px 10px 10px;
}

#newForm {
    display: none;
    background-color: none;
}

input[type=text] {
    padding: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #130c1a;
    border-radius: 5px;
    background-color:rgba(234, 217, 225, .4);
    color:#130c1a;
}

input::placeholder {
    color:#130c1a;
}

input[type=submit] {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    background: #434045;
    color: #cfcfcf;
    font-size: 15px;
    border-radius: 40px;
    text-align: center;    
}

input:focus, textarea:focus { 
    outline: none !important;
    border-color: #5941a3;
    box-shadow: 0 0 10px #5941a3;
}